*{
    font: sans-serif;
    box-sizing: border-box;
}
body{
    margin: 10px 120px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    margin-bottom: 50px;
}
.navigations button{
    margin: 0px 10px;
    outline: none;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.navigations button:hover{
    text-decoration: underline;
}
.name{
    font-weight: bold;
    font-size: 30px;
}
.profile{
    display: flex;
    justify-content: space-between;
}
.paragraphs{
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}
.paragraphs h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.profile-pic img{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin-left: 40px;
}
.projects{
    margin-top: 50px;
}
.projects h3{
    font-weight: bold;
    font-size: 30px;
}
.projects ul li{
    margin: 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    
}
.projects ul li img{
    width: 450px;
    height: 450px;
    border-radius: 20px;
    margin-left: 40px;
}
.projects ul li span{
    display: block;
}
.skills h3 {
    font-weight: bold;
    font-size: 30px;  
}
.skills ul li{
   margin: 10px;
   font-size: 24px;
}
footer{
    text-align: center;    
}
.dark{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-style: italic;
}
button{
    border-radius: 5px;
    background-color: black;
    color: rgb(240, 155, 51);
    border: 2px solid aqua;
}
.darkmode{
    width: 120px;
    height: 40px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {

    .profile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    }

    .projects ul li{
        margin: 40px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        margin: 20px 0px;
        margin-bottom: 50px;
    }
    .navigations button{
        margin: 0px 0px;
        outline: none;
        border: none;
        background: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        display: block;
    }

}
